@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  @apply relative font-semibold text-white cursor-pointer text-[17px] w-fit md:block hidden;
  
  /* Initial state of the pseudo-element */
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  height: 3px;
  left: 0;
  background-color: #facc15; /* Tailwind CSS yellow-400 */
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.3s;
  transform-origin: center;
  bottom: 0;
  
  
}

.nav-link:hover::after {
  transform: scaleX(1);
}
.nav-link-mobile {
  @apply relative  font-semibold text-white cursor-pointer text-[27px] w-fit mb-[2rem]; /* Applying Tailwind classes */
  position: relative;
}

.nav-link-mobile::after {
  content: ''; /* Adding content to the pseudo-element */
  position: absolute;
  height: 3px;
  left: 0;
  background-color: #facc15; /* Tailwind CSS yellow-400 */
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.3s;
  transform-origin: center;
  bottom: 0;
}

.nav-link-mobile:hover::after {
  transform: scaleX(1);
}

.bg-hero {
  background-image: url('/assets/images/bg-hero.jpg'); /* Use the absolute path */
  background-size: cover;
  background-position: center;
}

.heading{
  @apply text-center text-white text-[28px] sm:text-[33px] md:text-[45px] font-bold uppercase
}